/*centering*/
.container {
    background-color:lightblue;
    padding: 3% 3% 1% 3%;
}

img {
    width: 80%;
}

/*text*/
h1, .navbar-brand {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3 {
    padding-top: 3%;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, .nav-item {
    font-family:optima;
}

/*font sizes*/
h1 {
    padding-bottom:1%;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

/*menu*/
.navbar, nav {
    padding: 1%;
    margin-bottom: 2%;
    background-color:azure;
}

/*buttons*/
.btn-primary {
    background-color:darkcyan;
    border-color:darkcyan;
}

/*tabs*/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color:azure;
}

.nav-link {
    color:darkcyan;
}

/*misc*/
  p#disclaimer {
    font-style: italic;
}